.wrapper {
  margin: 85px auto;
  max-width: 1080px;
  background-color: #fff;
  border-radius: 20px;

  & .container-app {
    width: 980px;
    margin: 0 auto;
  }
}

nav {
  padding-top: 45px;

  & .right-header div img {
    margin: 6px;
    cursor: pointer;
  }
}

.search {
  border: none;
  margin-left: 8px;
  padding: 2px 0 2px 7px;
  color: #C4C4C4;
}

.search:focus {
  border: 1px solid #ccc;
  border-radius: 8px;
}


.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 85px;
}

.card-sneaker {
  width: 220px;
  border-radius: 40px;
  border: 1px solid #ccc;
  height: 260px;
  margin-left: 20px;
  margin-bottom: 20px;
  transition: all 0.15s ease-in-out;
  position: relative;

  & .like {
    top: 20px;
    left: 20px;
    font-size: 24px;
    position: absolute;
    cursor: pointer;
    color: #ccc;
  }

  & .liked {
    color: red;
  }

  &:hover {
    transform: translateY(-10px);
    box-shadow: 10px 15px 40px #BDBDBD;
  }

  & > div {
    margin: 10px auto;
    width: 170px;
    height: 230px;

    & .price {
      color: #BDBDBD;
    }

    & img {
      width: 133px;
      height: 112px;
      display: block;
      margin: 0 auto;
    }

    & .plus {
      height: 30px;
      width: 30px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  }
}
.hide{
  display: none;
}

.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .blur {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cart {
    width: 25%;
    background-color: #fff;
  }
}

.profile {
  padding-bottom: 100px;

  nav {
    width: 93%;
  }

  & .out-btn {
    margin-top: 40px;
    width: 5%;
  }

  & .out-from-profile {
    margin-right: 20px;
    cursor: pointer;
    border: 0.5px solid #ccc;
    border-radius: 8px;
  }

  & .btn-send {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .profile-btn {
    position: relative;
  }
}